  /*解决图标不能点击的问题*/
  ::v-deep .el-tabs__header {
    position: static !important;
  }

  .home {
    height: 100%;
  }

  .header {
    background-color: #167bd8;
    color: #fff;
    padding: 0 20px;
  }

  .header-left-text {
    font-size: 24px;
    font-weight: bolder;
  }

  .header-welcome {
    font-size: 15px;
    font-weight: bolder;
  }

  .user-img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;

  }

  .header-time {
    margin-top: 2px;
    font-size: 14px;
  }

  .user-role {
    margin-left: 10px;
  }

  .el-aside {
    border-right: 1px solid #e6e6e6;
  }

  .footer {
    background-color: #167bd8;
    color: #fff;
  }

  .arrow-icon {
    float: left;
    background: #eaedf1;
    border: 1px solid transparent;
    font-size: 25px;
    height: 39px;
    line-height: 39px !important;
    width: 40px;
    text-align: center;
    z-index: 1;
    /* 由于float:left 会导致图层覆盖 然后无法触发点击事件，所以这里需要position : relative */
    position: relative;
  }

