.home {
    height: 100%;
  }

  /* 头部样式 */
  .header {
    background-color: #167bd8;
    color: #fff;
    padding: 0 20px;
  }

  .header-left-text {
    font-size: 22px;
    font-weight: bolder;
  }

  .header-welcome {
    font-size: 15px;
    font-weight: bolder;
  }

  .header-time {
    margin-top: 2px;
    font-size: 14px;
  }

  .user-role {
    margin-left: 10px;
  }
  
  .user-img {
    height: 50px;
    width: 50px;
    border: 1px solid #40db8d;
    border-radius: 50%;
  }

  .header-right {
    margin-right: 30px;
  }

  /* Footer样式 */
  .el-container .el-menu {
    border-right: none !important;
  }

  .el-aside {
    border-right: 1px solid #e6e6e6;
  }

  .menu-bar:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }

  .arrow-icon {
    float: left;
    z-index: 11;
    position: relative;
    background: #eaedf1;
    border: 1px solid transparent;
    font-size: 25px;
    height: 39px;
    line-height: 39px !important;
    width: 40px;
    text-align: center;
  }